<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="./stylesheets/lol.css">
		<link rel="stylesheet" href="/stylesheets/begin/common.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/begin/archive.css"/>
		<script src="/javascripts/jquery.min.js"></script>
	</head>
	<body>
		<div class="head fix">
			<div class="t1 fix">
				<div class="tl">后台管理页面</div>
				<div class="tr">
					<ul class="ur">
						<li><a href="/begin">用户管理</a></li>
						<li><a href="/begin2">日志管理</a></li>
						<li><a href="/begin3">用户详情</a></li>
						<li><a href="/begin4">评论管理</a></li>
					 
					</ul>
				</div>
			</div>
			
			<div class="tt">
				<div class="t2">用户个人信息</div>
				
			</div>
		</div>
		<div>
			<div class="z">
				用户名:
				<input type="text" id="queryInput" class="queryInput"> 
				<button class="departName" id="departName">查询</button>     
			</div>
			<div class="pa">
				<table border="1" class="biao" id="biao">
					<tr style="height: 50px">
						<th>用户名</th>
						<th>昵称</th>
						<th>电话</th>
						<th>生日</th>
						<th>年龄</th>
						<th>城市</th>
						<th>操作</th>
					</tr>
					<tr  id="biao">
						<form  method="POST" action="/begin">
							<% data.forEach((o,i)=>{%>
								<tr>
										
										<td><%=o.regname%></td>
										<td><%=o.wname%></td>
										<td><%=o.telphone%></td>
										<td><%=o.birth%></td>
										<td><%=o.age%></td>
										<td><%=o.city%></td>
										
										<td>
										<button type="button" class="c3  delete" id="delete" data-id=<%=o.id %> >删除</button>
										</td>
								</tr>
								
									 <% }) %>
						
						</form>
					</tr>
				</table>
			</div>
		  </div>
		
	</body>
</html>
