<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script type="text/javascript" src="js/html5shiv.min.js"></script>
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/minLink.css">
</head>
<body>
	<header class="header">
		<div class="headerDiv clearFix">
			<h1>
				<a href="/index1" class="logo"><img class="loge66" src="../images/index/柠檬精.jpg" alt="logo"></a>
			</h1>
			<ul class="nav">
				<li class="navListNormal">
					<a href="/index1" class="navA">首页</a>
				</li>
				<!-- 页面四 -->
				<li class="navListNormal">
					<a href="/minLink" class="navA">发布</a>
				</li>
				<!-- 页面五 -->
				<li class="navListNormal">
					<a href="/docment" class="navA">我的博客</a>
				</li>
				<!-- 页面六 -->
				<li class="navListNormal">
					<a href="/minService" class="navA">我的</a>
				</li>
				
				
			</ul>
			
			<p class="login">
				<a >登录</a>
			</p>
		</div>
	</header>
<main class="LMain">
	<div class="LWrap">
		<div class="LTop">
			<h2>博客发布</h2>
		</div>
		<div class="LContainer">
			<div class="LminLink">
				<p class="LminLinkText">
				<h1 class="LminLinkText1">博客发布</h1>
				</p>
			</div>
			<section class="success">
				<h4>博客内容</h4>
				<div class="successCase clearFix">
					
					<div class="successListLR">
						<div class="momeyText">
							<div class="lineArrow1"></div>
							<p><textarea name="" id="" cols="30" rows="10" style="height: 250px;
								width: 735px;" placeholder="写点什么吧......."></textarea></p>
							<div class="Imgsin1">
							</div>
						</div>
						
					</div>
				</div>
			</section>
			
			<div class="fund">
				<button type="button"  class="but1">我要发布</button>
			</div>
			
		</div>
	</div>
</main>
<footer class="footer">
	<div class="footerDiv">
		<nav class="bottomNav clearFix">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#" class="footerA"></a>
		</nav>
		<p class="registerSystem">
			<span></span>
			<span></span>
			<span></span>
		</p>
	</div>
</footer>
</body>
</html>