body {
	background: #e4e4e4 url(../images/index/support-bg-x.jpg) repeat-x center top;
}
/*header选中*/
#supportA {
	background: #ddd;
}
.SupMain {
	padding-top: 55px;
	background: url(../images/index/support-bg.jpg) no-repeat center top;
}
.SupWrap {
	width: 950px;
	margin: 0 auto;
}
.SupTop {
	height: 64px;
	padding: 10px 0 6px 10px;
}
.SupTop h2 {
	width: 229px;
	padding-top: 64px;
	height: 0;
	overflow: hidden;
	background: url(../images/index/support.png) no-repeat;
}
/*DContainer部分开始*/
.SupContainer {
	border-radius: 9px;
	background: #fff;
	box-shadow: 0 0 2px #999;
}
.supportCenter {
	float: left;
	width: 634px;
	padding: 38px 27px 0;
}
.supportCenter h3 {
	height: 32px;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	font: 16px/32px "微软雅黑";
	background: #f7f7f7;
	padding-left: 10px;
	color: #333;
}
.platform {
	padding-bottom: 30px;
}
.platformL {
	float: left;
	width: 288px;
	margin-right: 32px;
}
.platformR {
	float: left;
	width: 288px;
	margin-right: 25px;
}
.platformTitle {
	height: 32px;
	padding-top: 5px;
	font: 12px/32px "微软雅黑";
	color: #333;
	text-align: center;
}
.platform .platformImgs {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 288px;
	height: 165px;
	background: url(../images/index/support.jpg);
	transition: .5s;
}
#platformImgs {
	background: url(../images/index/support2.jpg);
}
.platformA {
	position: relative;
	float: left;
	width: 288px;
	height: 166px;
	overflow: hidden;
}
.platformMask {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff8b1f;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
#platformMask {
	background: #ff3e1f;
}
.MvPlay {
	position: absolute;
	z-index: 3;
	top: 60px;
	left: 121px;
	width: 46px;
	height: 46px;
	background: url(../images/index/play.png);
	opacity: 0;
	filter: alpha(opacity=0);
	transform: scale(.3);
	transition: 0.5s;
}
.platformA:hover .MvPlay {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: scale(1);
}
.platformA:hover #platformImgs,
.platformA:hover .platformImgs {
	transform: scale(1.1);
}
/*familiarProblem开始*/
.problemNav {
	font: 16px/54px "微软雅黑";
	margin: 14px 0 30px 11px;
}
.problemNav a {
	float: left;
	height: 54px;
	border: 1px solid #d2e4f4;
	padding: 0 32px;
	background: #f4fafe;
	color: #4069b2;
	margin-right: 9px;
}
.problemNav .problemNavA {
	padding: 0 40px;
}
.platformH3 {
	width: 300px;
}
.supportMiddleL {
	float: left;
	width: 311px;
	margin-right: 9px;
	height: 174px;
}
.supportMiddleR {
	float: left;
	width: 311px;
	height: 174px;
}
.supportMiddleText {
	font: 12px/20px "微软雅黑";
	padding: 19px 0 6px 11px;
	width: 290px;
	color: #8a8984;
}
.supportClick {
	font: 12px/28px "微软雅黑";
	padding-left: 11px;
}
.supportClick a {
	color: #3c70a6;
}
.supportBottom {
	padding-bottom: 87px;
}
.supportBottomL {
	float: left;
	width: 311px;
	margin-right: 9px;
}
.supportBottomR {
	float: left;
	width: 311px;
}
.supportBottomText {
	font: 12px/28px "微软雅黑";
	color: #8a8984;
	padding: 0 0 1px 11px;
}
.supportBottomTextLink {
	height: 22px;
	font: 10px/22px Arial, "微软雅黑";
	color: #8a8984;
	padding-left: 11px;
}
.supportBottomIco {
	float: left;
	width: 16px;
	height: 13px;
	margin: 5px 3px 0 0;
	background: url(../images/index/sina-help.gif) no-repeat -25px 0;
}
#supportBottomIco {
	background-position: 0 0;
}
#supportMiddleText {
	margin-top: -6px;
}
.supportBottomSina {
	float: left;
}
.supportBottomTextLink a {
	float: left;
	color: #2d7fbf;
}
/*右边SupAside开始*/
.SupAside {
	float: left;
	width: 222px;
	height: 910px;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	padding: 37px 20px 0;
	background: #f7f7f7;
}
.SupAside h3 {
	height: 25px;
	font: 14px/1 "微软雅黑";
	border-bottom: 1px dashed #bababa;
	color: #575757;
}
.SupArticle {
	padding: 30px 0 0 0;
}
.articleTop {
	padding-left: 15px;
}
.articleImgs {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background:url(../images/index/sina-help.gif) no-repeat 0 -15px;
}
.FocusOn {
	float: left;
}
.FocusOnText {
	font: 14px/1 "微软雅黑";
}
.FocusOnClick {
	float: left;
	padding-right: 2px;
	color: #0082cb;
}
.FocusOnIco {
	float: left;
	width: 16px;
	height: 13px;
	background: url(../images/index/icon_user.gif) no-repeat 0 -60px;
}
.FocusOnA {
	height: 24px;
	margin-top: 14px;
}
.FocusOnA a {
	float: left;
	font: 12px/22px "微软雅黑";
	border: 1px solid #ea192d;
	border-radius: 3px;
	padding: 0 7px;
	background: url(../images/index/icon_user.gif) no-repeat 0 -122px;
	color:#fff;
}
.FocusOnA a:hover {
	background-position: 0 -149px;
}
/*overflowText*/
.overflowText {
	margin-top: 21px;
	height: 430px;
	border-top: 1px solid #e4e4e4;
	overflow: auto;
	background: #fff;
}
.contentList {
	font: 12px/20px "微软雅黑";
	padding: 11px 15px 0;
	color: #666;
}
.contentList p {
	width: 184px;
}
.contentList li {
	border-bottom: 1px dotted #d2d2d2;
}
.overflowDiv {
	height: 34px;
	padding-bottom: 3px;
	font: 12px/34px "微软雅黑";
}
.overflowDiv a {
	color: #0082cb;
}
.overflowA {
	float: left;
	/*padding-right: 46px;*/
}
.overflowSpan {
	float: right;
	color: #d7d7d7;
}
.overflowDiVT {
	margin-top: -1px;
	width: 170px;
	padding: 14px 8px 0 10px;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
}
.overflowDiVT p {
	width: 170px;
}
.overflowArrow {
	position: relative;
	width: 18px;
	height: 10px;
	background: url(../images/index/aside-arrow.png) no-repeat 10px 0;
}
.sinaNews {
	color: #00a1e1;
}
.sinaVIP {
	display: inline-block;
	width: 16px;
	height: 13px;
	margin-left: 4px;
	background: url(../images/index/icon_user.gif) no-repeat 0 -60px;
	vertical-align: middle;
}
.overflowDiVT strong {
	font: 12px/20px "微软雅黑";
	color: #666;
}